<ui5-page id="page" background-design="List" floating-footer show-footer>
  <div slot="header">
    <h1>asdfsfd</h1>
    <ui5-bar design="Header">
      <ui5-label slot="middleContent">Checkout Page</ui5-label>
      <ui5-button design="Default" slot="endContent">Submit</ui5-button>
      <ui5-button design="Emphasized" slot="endContent">Edit</ui5-button>
    </ui5-bar>
  </div>
  <div class="header-form">
    <section class="form-column ">

      <ng-container *ngTemplateOutlet="input; context: {$implicit: requisition, field:'title', title: 'Title'}">
      </ng-container>

      <ng-container *ngTemplateOutlet="combobox; context: {$implicit: requisition, field:'shippingAddress',
      title: 'Shipping Address'}">
      </ng-container>


      <ui5-label for="shippingAddress">Shipping Address:</ui5-label>
      <ui5-combobox id="shippingAddress" placeholder="Shipping Address" filter="Contains">
        <ui5-cb-item text="Austria"></ui5-cb-item>
        <ui5-cb-item text="Bulgaria"></ui5-cb-item>
        <ui5-cb-item text="Germany"></ui5-cb-item>
        <ui5-cb-item text="United Kingdom"></ui5-cb-item>
        <ui5-cb-item text="Kazakhstan"></ui5-cb-item>
      </ui5-combobox>


      <ui5-label for="billingAddress">Billing Address:</ui5-label>
      <ui5-combobox id="billingAddress" placeholder="Billing Address" filter="Contains">
        <ui5-cb-item text="Austria"></ui5-cb-item>
        <ui5-cb-item text="Bulgaria"></ui5-cb-item>
        <ui5-cb-item text="Germany"></ui5-cb-item>
        <ui5-cb-item text="United Kingdom"></ui5-cb-item>
        <ui5-cb-item text="Kazakhstan"></ui5-cb-item>
      </ui5-combobox>

      <ui5-label for="supplier">Supplier:</ui5-label>
      <ui5-combobox id="supplier" placeholder="Supplier" filter="Contains">
        <ui5-cb-item text="Austria"></ui5-cb-item>
        <ui5-cb-item text="Bulgaria"></ui5-cb-item>
        <ui5-cb-item text="Germany"></ui5-cb-item>
        <ui5-cb-item text="United Kingdom"></ui5-cb-item>
        <ui5-cb-item text="Kazakhstan"></ui5-cb-item>
      </ui5-combobox>

      <ui5-label for="dueOn">Due On:</ui5-label>
      <ui5-date-picker id="dueOn"></ui5-date-picker>
    </section>

    <section class="form-column ">

      <ui5-label for="username" required>Username:</ui5-label>
      <ui5-input id="username"></ui5-input>

      <ui5-label for="password" required>Password:</ui5-label>
      <ui5-input id="password" type="Password"></ui5-input>

      <ui5-label for="email" type="Email" required>Email:</ui5-label>
      <ui5-input id="email"></ui5-input>

      <ui5-label for="address">Address:</ui5-label>
      <ui5-input id="address"></ui5-input>


    </section>
  </div>
  <div slot="footer">
    <ui5-bar design="FloatingFooter">
      <ui5-button design="Positive" slot="endContent">Agree</ui5-button>
      <ui5-button design="Negative" slot="endContent">Decline</ui5-button>
      <ui5-button design="Transparent" slot="endContent">Cancel</ui5-button>
    </ui5-bar>
  </div>
</ui5-page>


<ng-template #input let-entity let-field="field" let-title="title">
  <ui5-label [for]="field" required>{{title}}:</ui5-label>
  <ui5-input #input
             [id]="field"
             [value]="entity[field]"
             (input)="entity[field]  = input.value"></ui5-input>

  {{entity[field]}}
</ng-template>



<ng-template #combobox let-entity let-field="field" let-title="title">
  <ui5-label [for]="field" required>{{title}}:</ui5-label>
  <ui5-combobox #combo [id]="field"  filter="Contains"
                [value]="entity[field]"
                (change)="entity[field]  = combo.value"
  >
    <ui5-cb-item *ngFor="let item of addressDB"  [text]="item.name"></ui5-cb-item>
  </ui5-combobox>

  {{combo.value | json}}
</ng-template>
