<ui5-page id="page" background-design="List" floating-footer show-footer>
  <div slot="header">
    <ui5-bar design="Header">
      <ui5-label slot="middleContent">Checkout Page</ui5-label>
      <ui5-button design="Default" slot="endContent">Submit</ui5-button>
      <ui5-button design="Emphasized" slot="endContent">Edit</ui5-button>
    </ui5-bar>
  </div>
  <div class="header-form">
    {{requisition | json}}

    <section class="form-column">

      <ng-container *ngTemplateOutlet="input; context: {$implicit: requisition, field:'title', title: 'Title'}">
      </ng-container>

      <ng-container *ngTemplateOutlet="combobox; context: {$implicit: requisition, field:'shippingAddress',
      title: 'Shipping Address', dataSource: addressDB }">
      </ng-container>


      <ng-container *ngTemplateOutlet="combobox; context: {$implicit: requisition, field:'billingAddress',
      title: 'Billing Addresss', dataSource: addressDB }">
      </ng-container>

      <ng-container *ngTemplateOutlet="combobox; context: {$implicit: requisition, field:'supplier',
      title: 'Supplier', dataSource: supplierDB }">
      </ng-container>


      <ng-container *ngTemplateOutlet="date; context: {$implicit: requisition, field:'dueOn', title: 'Due On'}">
      </ng-container>
    </section>

    <section class="form-column ">
      <ng-container *ngTemplateOutlet="select; context: {$implicit: requisition, field:'currency', title: 'Currency',
      dataSource: ['USD', 'CZK', 'EUR']}">
      </ng-container>


      <ng-container *ngTemplateOutlet="combobox; context: {$implicit: requisition, field:'requester',
      title: 'Requester', dataSource: userDB  }">
      </ng-container>


>>>>>
      <ng-container *ngTemplateOutlet="combobox; context: {$implicit: requisition, field:'commodityCode',
      title: 'Commodity Code', dataSource: commodityCodeDB  }">
      </ng-container>

<<<<<<s


    </section>
  </div>
  <div slot="footer">
    <ui5-bar design="FloatingFooter">
      <ui5-button design="Positive" slot="endContent">Agree</ui5-button>
      <ui5-button design="Negative" slot="endContent">Decline</ui5-button>
      <ui5-button design="Transparent" slot="endContent">Cancel</ui5-button>
    </ui5-bar>
  </div>
</ui5-page>


<ng-template #input let-entity let-field="field" let-title="title">
  <ui5-label [for]="field" required>{{title}}:</ui5-label>
  <ui5-input #input
             [id]="field"
             [value]="entity[field]"
             (input)="entity[field]  = input.value"></ui5-input>

</ng-template>


<ng-template #select let-entity let-field="field" let-title="title" let-ds="dataSource">
  <ui5-label [for]="field" required>{{title}}:</ui5-label>
  <ui5-select #select class="select" [value]="entity[field]" [id]="field"
              (change)="entity[field]  = select.selectedOption.innerText">
    <ui5-option *ngFor="let item of ds" [selected]="item === entity[field]">{{item}}</ui5-option>
  </ui5-select>


</ng-template>


<ng-template #date let-entity let-field="field" let-title="title">
  <ui5-label [for]="field">{{title}}:</ui5-label>
  <ui5-date-picker #date [id]="field" format-pattern="dd/MM/yyyy"
                   [value]="entity[field] | date:'dd/MM/yyyy'"
                   (change)="entity[field]  = date.dateValue"
  ></ui5-date-picker>

</ng-template>


<ng-template #combobox let-entity let-field="field" let-title="title" let-ds="dataSource">
  <ng-template [ngIf]="ds && ds.length > 0">
    <ui5-label [for]="field" required>{{title}}:</ui5-label>
    <ui5-combobox #combo [id]="field" filter="Contains"
                  [value]="entity[field]?.name"
                  (change)="onCBSelection(field, combo.value)">
      <ui5-cb-item *ngFor="let item of ds" [text]="item.name"></ui5-cb-item>
    </ui5-combobox>
  </ng-template>
</ng-template>


