<div *ngIf="(requisition$ | async) as requisition">
  <form #myForm="ngForm">
    <fdp-form-group [formGroup]="formGroup">
      <fdp-form-field #titleField label="Title" id="title" rank="1" placeholder="Enter title">
        <fdp-input name="title" type="text" [value]="requisition.title"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #subTitleField label="Subtitle" id="subtitle" rank="2" placeholder="Enter subtitle">
        <fdp-input name="subtitle" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #shippingAddressField label="Shipping Address" id="shippingAddress" rank="3">
        <fdp-input name="shippingAddress" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #billingAddressField label="Billing Address" id="billingAddress" rank="4">
        <fdp-input name="billingAddress" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #supplierField label="Supplier" id="supplier" rank="5">
        <fdp-input name="supplier" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #dueDateField label="Due Date" id="dueDate" rank="6">
        <fdp-input name="dueDate" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #currencyField label="Currency" id="currency" rank="7">
        <fdp-input name="currency" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #requesterField label="Requester" id="requester" rank="8">
        <fdp-input name="requester" type="text"> </fdp-input>
      </fdp-form-field>
      <fdp-form-field #commodityCodeField label="Commodity Code" id="commodityCode" rank="9">
        <fdp-input name="commodityCode" type="text"> </fdp-input>
      </fdp-form-field>
    </fdp-form-group>
  </form>
</div>

<fdp-table [dataSource]="[]" role="" contentDensity="compact" emptyTableMessage="No data found" i18n-emptyTableMessage>

  <fdp-table-toolbar role="" title="Items" i18n-title [hideItemCount]="false">
  </fdp-table-toolbar>

  <fdp-column name="lineNumber" key="line" label="Line" role="" align="center">
    <fdp-table-cell role="" *fdpCellDef="let item">
      {{ item.itemNumber }}
    </fdp-table-cell>
  </fdp-column>

  <fdp-column name="name" role="" key="itemShortText" label="Name" i18n-label>
    <fdp-table-cell role="" *fdpCellDef="let item">
      <div role="" class="checkout-item-name">
        <span role="">
          <fd-avatar role="" [image]="item.imageUrl" size="s"></fd-avatar>
        </span>
        <span role="" *ngIf="!isFGItem(item)">{{item.itemShortText}}</span>
        <span *ngIf="isFGItem(item)">
          <a fd-link role="" [attr.aria-label]="'Fg Line item'+item.itemNumber+' product name is '+item.itemShortText "
            class="line-item-name">{{item.itemShortText}}</a>
        </span>
      </div>
    </fdp-table-cell>
  </fdp-column>

  <fdp-column name="supplier" key="supplier" label="Supplier" role="" i18n-label>
    <fdp-table-cell tabindex="0" role=""
      [attr.aria-label]="'Line item '+item.itemNumber+'s supplier name is '+getSupplier(item)" *fdpCellDef="let item">
      {{ getSupplier(item) }}
    </fdp-table-cell>
  </fdp-column>

  <fdp-column name="pricePerItem" key="price" role="" label="Price per item" i18n-label align="end">
    <fdp-table-cell role="" tabindex="0"
      [attr.aria-label]="'Price per item for Line number '+item.itemNumber+' is '+item.price +''+item.currency"
      *fdpCellDef="let item">
      {{item.price | currency:item.currency:'' }} {{item.currency}}
    </fdp-table-cell>
  </fdp-column>

  <fdp-column name="quantity" key="quantity" label="Quantity" role="" i18n-label align="start">
    <fdp-table-cell role="" *fdpCellDef="let item">
      <span role="" class="quantity-cell">
        <ng-container role="" *ngIf="!isSubmitted">
          <fd-step-input role="" tabindex="0"
            [attr.aria-label]="'Quantity for Line number'+item.itemNumber+' is '+item.quantity+' with unit of measure '+item.unitOfMeasure"
            [min]="item.minOrderQty" [value]="item.quantity" (valueChange)="onQuantityChange(item,$event)"
            [disabled]="isFGItem(item)"></fd-step-input>
          <div role="" class="line-item__uom">{{item.unitOfMeasure}}</div>
        </ng-container>
        <span role="" [attr.aria-label]="'Quantity is '+item.quantity" *ngIf="isSubmitted">{{item.quantity}}
          {{item.unitOfMeasure}}</span>
      </span>
    </fdp-table-cell>
  </fdp-column>

  <fdp-column name="price" key="totalNetAmount" label="Net amount" role="" i18n-label align="end">
    <fdp-table-cell role="" tabindex="0"
      [attr.aria-label]="'Net Amount for Line number '+item.itemNumber+' is '+item.totalNetAmount+' '+ item.currency"
      *fdpCellDef="let item">
      {{item.totalNetAmount | currency:item.currency:''}} {{item.currency}}
    </fdp-table-cell>
  </fdp-column>

  <fdp-column name="lineItemDetailLink" key="catalogItemId">
    <fdp-table-cell *fdpCellDef="let item">
      <a fd-link [routerLink]="'reqlineitemdetails'" [queryParams]="{ reqid: item.purchaseRequisitionId,
                        itemid: item.lineItemId,
                        type: item.spendChannelName,
                        jobitemid: item.spendChannelItemID,
                        returnUrl: 'checkout'
                      }">
        <fd-icon *ngIf="!isRtl" glyph="navigation-right-arrow" class="arrow-link"></fd-icon>
        <fd-icon *ngIf="isRtl" glyph="navigation-left-arrow" class="arrow-link"></fd-icon>
      </a>
    </fdp-table-cell>
  </fdp-column>
</fdp-table>
