<div *ngIf="(requisition$ | async) as requisition">
  <fd-layout-panel>
    <fd-layout-panel-header>
      <fd-layout-panel-head>
        <h2 fd-layout-panel-title>Checkout Page Title</h2>
        <fd-layout-panel-description>Subtitle</fd-layout-panel-description>
      </fd-layout-panel-head>
      <fd-layout-panel-actions>
        <fdp-button label="Submit"></fdp-button>
        <fdp-button label="Edit" buttonType="emphasized" style="margin-left: 1em;"></fdp-button>
      </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
      <form #myForm="ngForm">
        <fdp-form-group [formGroup]="formGroup" columnLayout="XL2-L2-M2-S1">
          <fdp-form-field #titleField label="Title" id="title" column="1" rank="1" placeholder="Enter title">
            <fdp-input name="title" type="text" [value]="requisition.title"> </fdp-input>
          </fdp-form-field>
          <fdp-form-field #subTitleField label="Subtitle" id="subtitle" column="1" rank="2" placeholder="Enter subtitle">
            <fdp-input name="subtitle" type="text" [value]="requisition.subtitle"> </fdp-input>
          </fdp-form-field>
          <fdp-form-field #shippingAddressField label="Shipping Address" id="shippingAddress" column="1" rank="3">
            <fdp-combobox name="shippingAddress" [value]="requisition.shippingAddress.address" [displayKey]="'address'" [lookupKey]="'address'" [dataSource]="addresses$"></fdp-combobox>
          </fdp-form-field>
          <fdp-form-field #billingAddressField label="Billing Address" id="billingAddress" column="1" rank="4">
            <fdp-combobox name="billingAddress" [value]="requisition.billingAddress.address" [displayKey]="'address'" [lookupKey]="'address'" [dataSource]="addresses$"></fdp-combobox>
          </fdp-form-field>
          <fdp-form-field #supplierField label="Supplier" id="supplier" column="1" rank="5">
            <fdp-combobox name="supplier" [value]="requisition.supplier.name" [dataSource]="suppliers$" [displayKey]="'name'" [lookupKey]="'name'"></fdp-combobox>
          </fdp-form-field>
          <fdp-form-field #dueDateField label="Due Date" id="dueDate" column="2" rank="6">
            <fdp-date-picker name="dueDate" type="single" [value]="requisition.dueOn"> </fdp-date-picker>
          </fdp-form-field>
          <fdp-form-field #currencyField label="Currency" id="currency" column="2" rank="7">
            <fdp-select name="currency" [value]="requisition.currency" [list]="['USD']"> </fdp-select>
          </fdp-form-field>
          <fdp-form-field #requesterField label="Requestor" id="requestor" column="2" rank="8">
            <fdp-input-group name="requestor" [value]="requisition.requestor.name">
              <fdp-input-group-input type="text"></fdp-input-group-input>
              <fdp-input-group-addon><fdp-button glyph="value-help"></fdp-button></fdp-input-group-addon>
            </fdp-input-group>
          </fdp-form-field>
          <fdp-form-field #commodityCodeField label="Commodity Code" id="commodityCode" column="2" rank="9">
            <fdp-input-group name="commodityCode" [value]="requisition.commodityCode.name">
              <fdp-input-group-input type="text"></fdp-input-group-input>
              <fdp-input-group-addon><fdp-button glyph="value-help"></fdp-button></fdp-input-group-addon>
            </fdp-input-group>
          </fdp-form-field>
          <fdp-form-field #deliveryTypeField label="Delivery Type" id="deliveryType" column="2" rank="10">
            <fdp-radio-group name="deliveryType" [selected]="'express'" isInline="true">
              <fdp-radio-button value="over-night">Over Night</fdp-radio-button>
              <fdp-radio-button value="express">Express</fdp-radio-button>
            </fdp-radio-group>
          </fdp-form-field>
        </fdp-form-group>
      <fdp-table [dataSource]="lineItems$ | async" role="" contentDensity="compact" emptyTableMessage="No data found"
        i18n-emptyTableMessage>

        <fdp-table-toolbar role="" title="Items" i18n-title [hideItemCount]="false">
        </fdp-table-toolbar>

        <fdp-column name="lineNumber" key="line" label="Line" role="" align="center">
          <fdp-table-cell role="" *fdpCellDef="let item">
            {{item.lineItemNumber}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="name" role="" key="itemShortText" label="Name" i18n-label>
          <fdp-table-cell role="" *fdpCellDef="let item">
            {{item.name}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="supplier" key="supplier" label="Supplier" role="" i18n-label>
          <fdp-table-cell tabindex="0" role="" *fdpCellDef="let item">
            {{item.supplier.name}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="pricePerItem" key="price" role="" label="Price per item" i18n-label align="end">
          <fdp-table-cell role="" tabindex="0" *fdpCellDef="let item">
            {{item.price}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="quantity" key="quantity" label="Quantity" role="" i18n-label align="start">
          <fdp-table-cell role="" *fdpCellDef="let item">
            {{item.quantity}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="price" key="totalNetAmount" label="Net amount" role="" i18n-label align="end">
          <fdp-table-cell role="" tabindex="0" *fdpCellDef="let item">
            {{item.totalNetAmount}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="lineItemDetailLink" key="catalogItemId">
          <fdp-table-cell *fdpCellDef="let item">
            <a fd-link [routerLink]="'reqlineitemdetails'" [queryParams]="{ reqid: item.purchaseRequisitionId,
                          itemid: item.lineItemId,
                          type: item.spendChannelName,
                          jobitemid: item.spendChannelItemID,
                          returnUrl: 'checkout'
                        }">
              <fd-icon *ngIf="!isRtl" glyph="navigation-right-arrow" class="arrow-link"></fd-icon>
              <fd-icon *ngIf="isRtl" glyph="navigation-left-arrow" class="arrow-link"></fd-icon>
            </a>
          </fdp-table-cell>
        </fdp-column>
      </fdp-table>
      <fdp-form-group [formGroup]="formGroup2">
        <fdp-form-field #descriptioinField label="Description" id="description">
          <fdp-textarea name="description" [value]="requisition.descriotion"> </fdp-textarea>
        </fdp-form-field>
      </fdp-form-group>
      </form>
    </fd-layout-panel-body>
  </fd-layout-panel>
</div>
