<div *ngIf="(requisition$ | async) as requisition">
  <fd-layout-panel>
    <fd-layout-panel-header>
      <fd-layout-panel-head>
        <h2 fd-layout-panel-title>Checkout Page Title</h2>
        <fd-layout-panel-description>Subtitle</fd-layout-panel-description>
      </fd-layout-panel-head>
      <fd-layout-panel-actions>
        <fdp-button label="Submit"></fdp-button>
        <fdp-button label="Edit" buttonType="emphasized" style="margin-left: 1em;"></fdp-button>
      </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-body>
      <form #myForm="ngForm">
        <fdp-form-group [formGroup]="formGroup" columnLayout="XL2-L2-M2-S1">
          <fdp-form-field #titleField label="Title" id="title" column="1" rank="1" placeholder="Enter title">
            <fdp-input name="title" type="text" [value]="requisition.title"> </fdp-input>
          </fdp-form-field>
          <fdp-form-field #subTitleField label="Subtitle" id="subtitle" column="1" rank="2" placeholder="Enter subtitle">
            <fdp-input name="subtitle" type="text"> </fdp-input>
          </fdp-form-field>
          <fdp-form-field #shippingAddressField label="Shipping Address" id="shippingAddress" column="1" rank="3">
            <fdp-combobox name="shippingAddress" [value]="requisition.shippingAddress.address" [displayKey]="'address'" [lookupKey]="'address'" [dataSource]="addresses$"></fdp-combobox>
          </fdp-form-field>
          <fdp-form-field #billingAddressField label="Billing Address" id="billingAddress" column="1" rank="4">
            <fdp-combobox name="billingAddress" [value]="requisition.billingAddress.address" [displayKey]="'address'" [lookupKey]="'address'" [dataSource]="addresses$"></fdp-combobox>
          </fdp-form-field>
          <fdp-form-field #supplierField label="Supplier" id="supplier" column="1" rank="5">
            <fdp-combobox name="supplier" [dataSource]="suppliers$" [displayKey]="'name'" [lookupKey]="'name'"></fdp-combobox>
          </fdp-form-field>
          <fdp-form-field #dueDateField label="Due Date" id="dueDate" column="2" rank="6">
            <fdp-date-picker name="dueDate" type="single"> </fdp-date-picker>
          </fdp-form-field>
          <fdp-form-field #currencyField label="Currency" id="currency" column="2" rank="7">
            <fdp-select name="currency" [list]="[]"> </fdp-select>
          </fdp-form-field>
          <fdp-form-field #requesterField label="Requester" id="requester" column="2" rank="8">
            <fdp-input-group name="requester">
              <fdp-input-group-input tyoe="text"></fdp-input-group-input>
              <fdp-input-group-addon><fdp-button glyph="value-help"></fdp-button></fdp-input-group-addon>
            </fdp-input-group>
          </fdp-form-field>
          <fdp-form-field #commodityCodeField label="Commodity Code" id="commodityCode" column="2" rank="9">
            <fdp-input-group name="commodityCode">
              <fdp-input-group-input tyoe="text"></fdp-input-group-input>
              <fdp-input-group-addon><fdp-button glyph="value-help"></fdp-button></fdp-input-group-addon>
            </fdp-input-group>
          </fdp-form-field>
          <fdp-form-field #deliveryTypeField label="Delivery Type" id="deliveryType" column="2" rank="10">
            <fdp-radio-group name="deliveryType" isInline="true">
              <fdp-radio-button value="over night">Over Night</fdp-radio-button>
              <fdp-radio-button value="express">Express</fdp-radio-button>
            </fdp-radio-group>
          </fdp-form-field>
        </fdp-form-group>
      <fdp-table [dataSource]="[]" role="" contentDensity="compact" emptyTableMessage="No data found"
        i18n-emptyTableMessage>

        <fdp-table-toolbar role="" title="Items" i18n-title [hideItemCount]="false">
        </fdp-table-toolbar>

        <fdp-column name="lineNumber" key="line" label="Line" role="" align="center">
          <fdp-table-cell role="" *fdpCellDef="let item">
            {{ item.itemNumber }}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="name" role="" key="itemShortText" label="Name" i18n-label>
          <fdp-table-cell role="" *fdpCellDef="let item">
            <div role="" class="checkout-item-name">
              <span role="">
                <fd-avatar role="" [image]="item.imageUrl" size="s"></fd-avatar>
              </span>
              <span role="" *ngIf="!isFGItem(item)">{{item.itemShortText}}</span>
              <span *ngIf="isFGItem(item)">
                <a fd-link role=""
                  [attr.aria-label]="'Fg Line item'+item.itemNumber+' product name is '+item.itemShortText "
                  class="line-item-name">{{item.itemShortText}}</a>
              </span>
            </div>
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="supplier" key="supplier" label="Supplier" role="" i18n-label>
          <fdp-table-cell tabindex="0" role=""
            [attr.aria-label]="'Line item '+item.itemNumber+'s supplier name is '+getSupplier(item)"
            *fdpCellDef="let item">
            {{ getSupplier(item) }}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="pricePerItem" key="price" role="" label="Price per item" i18n-label align="end">
          <fdp-table-cell role="" tabindex="0"
            [attr.aria-label]="'Price per item for Line number '+item.itemNumber+' is '+item.price +''+item.currency"
            *fdpCellDef="let item">
            {{item.price | currency:item.currency:'' }} {{item.currency}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="quantity" key="quantity" label="Quantity" role="" i18n-label align="start">
          <fdp-table-cell role="" *fdpCellDef="let item">
            <span role="" class="quantity-cell">
              <ng-container role="" *ngIf="!isSubmitted">
                <fd-step-input role="" tabindex="0"
                  [attr.aria-label]="'Quantity for Line number'+item.itemNumber+' is '+item.quantity+' with unit of measure '+item.unitOfMeasure"
                  [min]="item.minOrderQty" [value]="item.quantity" (valueChange)="onQuantityChange(item,$event)"
                  [disabled]="isFGItem(item)"></fd-step-input>
                <div role="" class="line-item__uom">{{item.unitOfMeasure}}</div>
              </ng-container>
              <span role="" [attr.aria-label]="'Quantity is '+item.quantity" *ngIf="isSubmitted">{{item.quantity}}
                {{item.unitOfMeasure}}</span>
            </span>
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="price" key="totalNetAmount" label="Net amount" role="" i18n-label align="end">
          <fdp-table-cell role="" tabindex="0"
            [attr.aria-label]="'Net Amount for Line number '+item.itemNumber+' is '+item.totalNetAmount+' '+ item.currency"
            *fdpCellDef="let item">
            {{item.totalNetAmount | currency:item.currency:''}} {{item.currency}}
          </fdp-table-cell>
        </fdp-column>

        <fdp-column name="lineItemDetailLink" key="catalogItemId">
          <fdp-table-cell *fdpCellDef="let item">
            <a fd-link [routerLink]="'reqlineitemdetails'" [queryParams]="{ reqid: item.purchaseRequisitionId,
                          itemid: item.lineItemId,
                          type: item.spendChannelName,
                          jobitemid: item.spendChannelItemID,
                          returnUrl: 'checkout'
                        }">
              <fd-icon *ngIf="!isRtl" glyph="navigation-right-arrow" class="arrow-link"></fd-icon>
              <fd-icon *ngIf="isRtl" glyph="navigation-left-arrow" class="arrow-link"></fd-icon>
            </a>
          </fdp-table-cell>
        </fdp-column>
      </fdp-table>
      <fdp-form-group [formGroup]="formGroup2">
        <fdp-form-field #descriptioinField label="Description" id="description">
          <fdp-textarea name="description" [value]="requisition.descriotion"> </fdp-textarea>
        </fdp-form-field>
      </fdp-form-group>
      </form>
    </fd-layout-panel-body>
  </fd-layout-panel>
</div>
